*{
    margin: 0;
    padding: 0;
}
.grid__main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 16fr 12fr 45fr auto 15fr;
    width:100%;
    grid-template-areas: 
    "header"
    "space"
    "title"
    "content"
    "about"
    "footer";
}
html{
    scroll-behavior:smooth;
}
.header{
    font-family: "lexend";
    grid-area: header;
 /*    border: green solid 2px; */
    background-color:rgb(225, 206, 178);
    color:rgb(121, 66, 69);
    font-weight:bolder;
    line-height: 50px;
    font-size: 120%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header__logo{
    width:15%;
}
.header__logo--picture{
    width:100%;
}
nav{
    width:75%; 
    align-items: center;
    background-color:rgb(225, 206, 178);
    margin-left: 4%;
}
ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 8%;
}
li{
    position: relative;
}
ul li a{
    text-decoration: none;
    color: rgb(121, 66, 69);
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
    background-color:rgb(221, 183, 149);
    color: rgb(121, 66, 69);
    font-size: 100%;
    width: 200%;
    padding: 10% 10% 10% 10%;
    padding-left: 10%;
    z-index: 3;
    transition: background-color 0.25s;
}
ul li:hover ul{
    display: block;
}
ul ul li:hover{
    background-color: rgb(180, 154, 127);
}
.space{
    grid-area: space;
    color: white;
    /* border: blue solid 2px; */
}
.title{
    grid-area: title;
   /*  border: red solid 2px; */
    display: flex;
    justify-content: center;
    margin-top: 3%;
    animation: zoomIn;
    animation-duration: 1s;  
}
h2{
    font-weight: bolder; 
    color:rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 200%;
}
.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-evenly;
    /* border: yellow solid 2px; */
}
.productos__image--display1{
    width:90%;
    justify-self: center;
    animation: fadeInLeft;
    animation-duration: 1s;
}
.productos__image--display2{
    width:90%;
    justify-self: center;
    animation: fadeInRight;
    animation-duration: 1s;
}
.productos__image{
    width:100%;
    border:2px rgb(121, 66, 69) solid;
}
.productos__detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    color:dimgray;
    font-family: "lexend";
    font-size: 95%;
    line-height: 220%;
    animation: zoomIn;
    animation-duration: 1s;
}
.footer{
   /*  border: orange solid 2px; */
    grid-area: footer;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    background-color:rgb(221, 183, 149);
    height: 110%;
    align-items: center;
    margin-top: 5%;
}
h5{
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 130%;
    margin-left: 5%;
}
.footer__flecha{
    width: 10%;
    justify-self: center;
}
.footer__flecha--imagen{
    width:100%
}
.footer__media{
    width:50%;
    justify-self: flex-end;
}
.footer__media--imagen1{
    width:15%;
    padding-left: 30%;
}
.footer__media--imagen{
    width:15%;
}
.footer__elementos--enlaces{
    color:rgb(221, 183, 149);
    text-decoration: none;
}
.about{
    grid-area: about;
    margin-top: 4%;
    background-color: rgb(121, 66, 69);
    color:rgb(221, 183, 149);
    font-family: "lexend";
    text-align: center;
    line-height: 40px;
    font-size: 100%;
    animation: fadeInUp;
    animation-duration: 1s;
}
.productos__pasos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ol li{
    align-self: center;
    font-size: 110%;
}
ol li ul li{
    list-style:circle;
    font-size: 100%;
}
ol li ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:1024px) and (max-width:1200px){
    .header{
        line-height: 50px;
        font-size: 90%;
    }
    .header__logo{
        width:18%;
    }
    ul ul li{
        font-size: 80%;
    }
    .content{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    h5{
        font-size: 100%;
    }
    .about{
        line-height: 35px;
        font-size: 90%;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .header{
        line-height: 35px;
        font-size: 70%;
    }
    nav{
        margin-left:0%;
    }
    .header__logo{
        width:18%;
    }
    nav{
        padding-left: 3%;
    }
    ul ul li{
        font-size: 70%;
    }
    h2{
        font-size: 170%;
    }
    .content{
        padding-top: 5%;
        padding-bottom: 5%;
        grid-template-columns: 26% 38% 26%;
    }
    .productos__detalle{
        font-size: 80%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 6%;
    }
    .about{
        line-height: 30px;
        font-size: 60%;
    }
    ol li{
        align-self: center;
        font-size: 110%;
    }
    ol li ul li{
        list-style:circle;
        font-size: 100%;
    }
}
@media screen and (min-width:600px) and (max-width:768px){
.grid__main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    width:100%;
    /* border: black solid 2px; */
    grid-template-areas: 
    "header"
    "space"
    "title"
    "content"
    "about"
    "footer";
}
.header{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    font-size: 65%;
    line-height: 30px;
}
.header__logo{
    width:15%;
    justify-self: center;
    padding-top: 3%;
}
nav{
    margin-left: 0%;
    justify-self: center;
    padding-left: 0%;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
nav ul li{
    margin-left: 0%;
}

ul ul li{
    font-size: 60%;
}
.space{
    margin-top: 0%;
}
.title{
    margin-top: 17%;
}
h2{
    font-size: 140%;  
}
.content{
    padding-top: 2%;
    padding-bottom: 5%;
    margin-top: 8%;
    grid-template-columns: 26% 38% 26%;
}
.productos__detalle{
    font-size: 70%;
}
h5{
    font-size: 70%;
} 
.footer{
    height: 100%;
    margin-top: 10%;
}
.footer__media--imagen1{
    width:17%;
} 
.footer__media--imagen{
    width:17%;
} 
.about{
    line-height: 25px;
    font-size: 65%;
}
ol li{
    align-self: center;
    font-size: 100%;
}
ol li ul li{
    list-style:circle;
    font-size: 90%;
}
}
@media screen and (min-width:480px) and (max-width:600px){
    .grid__main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        width:100%;
        /* border: black solid 2px; */
        grid-template-areas: 
        "header"
        "space"
        "title"
        "content"
        "about"
        "footer";
    }
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 65%;
        line-height: 30px;
    }
    .header__logo{
        width:15%;
        justify-self: center;
        padding-top: 3%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    nav ul li{
        margin-left: 0%;
    }
   
    ul ul li{
        font-size: 60%;
    }
    .title{
        margin-top: 20%;
    }
    h2{
        font-size: 100%;
    }
    .content{
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: 26% 38% 26%;
        align-items: center;
        justify-content: space-evenly;
    }
    .productos__detalle{
        font-size: 60%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 10%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
    .about{
        line-height: 20px;
        font-size: 68%;
    }
    ol li{
        align-self: center;
        font-size: 95%;
    }
    ol li ul li{
        list-style:circle;
        font-size: 95%;
    }
} 
@media screen and (min-width:320px) and (max-width:480px){
    .nav__hide{
        display: none;
    }
    .grid__main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        width:100%;
        /* border: black solid 2px; */
        grid-template-areas: 
        "header"
        "space"
        "title"
        "content"
        "about"
        "footer";
    }
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 75%;
        line-height: 35px;
    }
    .header__logo{
        width:25%;
        justify-self: center;
        padding-top: 5%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    ul{
        display: flex;
        width: 100%;
        justify-content:space-around;
    }
    nav ul li{
        margin-left: 0%;
    }
    ul ul li{
        font-size: 50%;
    }
    .title{
        margin-top: 20%;
    }
    h2{
        font-size: 100%;
        margin-top: 12%;
    }
    .productos__detalle{
        font-size: 60%;
    }
    .content{
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-right: 5%;
        margin-left: 5%;
    }
    .productos__image--display1{
        width:60%;
        justify-self: center;
        margin-left:0%;
        margin-top: 10%;
    }
    .productos__image--display2{
        width:60%;
        justify-self: center;
        margin-left:0%;
        margin-top: 10%;
    }
    .productos__image{
        width:100%;
        border:2px rgb(121, 66, 69) solid;
    }
    .productos__detalle{
        margin-top: 10%;
        font-weight: bold; 
        color:dimgray;
        font-family: "lexend";
        font-size: 70%;
        line-height: 200%;
        margin-right: 0%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 10%;
        height: 110%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
    .about{
        line-height: 20px;
        font-size: 60%;
        margin-top: 9%;
    }
}
@media screen and (max-width:320px){
    .grid__main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        width:100%;
        /* border: black solid 2px; */
        grid-template-areas: 
        "header"
        "space"
        "title"
        "content"
        "about"
        "footer";
    }
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 70%;
        line-height: 35px;
    }
    .header__logo{
        width:25%;
        justify-self: center;
        padding-top: 5%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    .nav__hide{
        display: none;
    }
    ul{
        display: flex;
        width: 100%;
        justify-content:space-around;
    }
    nav ul li{
        margin-left: 0%;
    }
    ul ul li{
        font-size: 50%;
    }
    .title{
        margin-top: 25%;
    }
    h2{
        font-size: 100%;
        margin-top: 10%;
    }
    .productos__detalle{
        font-size: 60%;
    }
    .content{
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-right: 5%;
        margin-left: 5%;
    }
    .productos__image--display1{
        width:60%;
        justify-self: center;
        margin-left:0%;
        margin-top: 10%;
    }
    .productos__image--display2{
        width:60%;
        justify-self: center;
        margin-left:0%;
        margin-top: 10%;
    }
    .productos__image{
        width:100%;
        border:2px rgb(121, 66, 69) solid;
    }
    .productos__detalle{
        margin-top: 10%;
        font-weight: bold; 
        color:dimgray;
        font-family: "lexend";
        font-size: 70%;
        line-height: 200%;
        margin-right: 0%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 10%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
    .about{
        line-height: 20px;
        font-size: 60%;
        margin-top: 7%;
    }
}