*{
    margin: 0;
    padding: 0;
}
.grid__main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "header"
    "space"
    "title"
    "receta__intro"
    "receta__pasos"
    "footer";
    width:100%;
}
html{
    scroll-behavior:smooth;
}
.header{
    /* border: brown solid 2px; */
    grid-area: header;
    font-family: "lexend";
    background-color:rgb(225, 206, 178);
    color:rgb(121, 66, 69);
    font-weight:bolder;
    line-height: 50px;
    font-size: 120%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header__logo{
    width:15%;
}
.header__logo--picture{
    width:100%;
}
nav{
    width:75%; 
    align-items: center;
    background-color:rgb(225, 206, 178);
    margin-left:4%;
}
ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 8%;
}
li{
    position: relative;
}
ul li a{
    text-decoration: none;
    color: rgb(121, 66, 69);
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
    background-color:rgb(221, 183, 149);
    color: rgb(121, 66, 69);
    font-size: 100%;
    width: 200%;
    padding: 10% 10% 10% 10%;
    z-index: 3;
}
ul li:hover ul{
    display: block;
}
ul ul li:hover{
    background-color: rgb(180, 154, 127);
}
ul{
    list-style-image: url("../Images/recetas/spoon.png");
}
.space{
    grid-area: space;
   /*  border: grey solid 2px; */
}
.footer{
/*     border: blue solid 2px; */
    grid-area: footer;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    background-color:rgb(221, 183, 149);
    height: 110%;
    align-items: center;
    margin-top: 5%;
}
h5{
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 130%;
    margin-left: 5%;
}
.footer__flecha{
    width: 10%;
    justify-self: center;
}
.footer__flecha--imagen{
    width:100%
}
.footer__media{
    width:50%;
    justify-self: flex-end;
}
.footer__media--imagen1{
    width:15%;
    padding-left: 30%;
}
.footer__media--imagen{
    width:15%;
}
.footer__elementos--enlaces{
    color:rgb(221, 183, 149);
    text-decoration: none;
}
.title{
    /* border: yellow 2px solid; */
    grid-area: title ;
    display: flex;
    justify-content: flex-start;
    animation: zoomIn;
    animation-duration: 1s;
}
h2{
    font-weight: bolder; 
    color:rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 200%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-top: 10%;   
}
.receta__intro{
/*     border: red solid 2px; */
    grid-area: receta__intro;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}
.recipe__picture--display{
    animation: fadeInLeft;
    animation-duration: 1s;
}
.recipe__picture{
    width:70%;
    border:2px rgb(121, 66, 69) solid;
    margin-left: 15%;
}
.recipe__ingredients{
    margin-left: 2%;
    animation: fadeInRight;
    animation-duration: 1s;
}
.recipe__ingredients--list{
    line-height: 200%;
    font-family: "lexend";
    font-weight: bold;
    color: dimgray;
}
.receta__pasos{
    grid-area: receta__pasos;
    animation: fadeInUp;
    animation-duration: 1s;
    /* border: green solid 2px; */
}
ol{
    line-height:200%;
    margin-left: 3%;
    margin-top: 2%;
    font-family: "lexend";
    color: dimgray;
    font-size: 100%;
    font-weight: bold;
    padding-right: 3%;
    padding-left: 2%;
    text-align: justify;
}
h6{
    color:white;
}
h3{
    margin-top: 4%;
    font-weight: bolder; 
    color:rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 150%;
    margin-left: 2%;
}
h4{
    margin-top: 1%;
    color: rgb(121, 66, 69);
    font-family: "lexend";
    text-align: left;
    line-height: 40px;
    font-size: 130%;
    margin-left: 4%;
}
@media screen and (min-width:1024px) and (max-width:1200px){
    .header{
        line-height: 50px;
        font-size: 90%;
    }
    .header__logo{
        width:18%;
    }
    ul ul li{
        font-size: 80%;
    }
    h5{
        font-size: 100%;
    }
    .footer{
        height: 120%;
    }
    h2{
        font-size: 160%;
        margin-top: 13%;   
    }
    .recipe__picture{
        width:60%;
    }
    .recipe__ingredients--list{
        font-size: 80%;
    }    
    ol{
        font-size: 80%;
        font-weight: bold;
    }
    h3{
        font-size: 130%;
    }
    h4{
        line-height: 40px;
        font-size: 110%;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .header{
        line-height: 35px;
        font-size: 70%;
    }
    nav{
        margin-left:0%;
    }
    .header__logo{
        width:18%;
    }
    nav{
        padding-left: 3%;
    }
    ul ul li{
        font-size: 70%;
    }   
    h2{
        font-size: 140%;
        margin-top: 13%;   
    }
    .recipe__picture{
        width:60%;
    }
    .recipe__ingredients--list{
        font-size: 80%;
    }    
    ol{
        font-size: 80%;
        font-weight: bold;
    }
    h3{
        font-size: 120%;
    }
    h4{
        line-height: 40px;
        font-size: 100%;
    }
    ul{
        list-style-image: url("../Images/recetas/spoon.png");
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 4%;
        height: 140%;
    }
}
@media screen and (min-width:600px) and (max-width:768px){
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 65%;
        line-height: 30px;
    }
    .header__logo{
        width:20%;
        justify-self: center;
        padding-top: 3%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    .header__menu{
        display: flex;
        width: 95%;
        justify-content: space-evenly;
    }
    nav ul li{
        margin-left: 0%;
    } 
    ul ul li{
        font-size: 60%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 6%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
   h2{
    font-size: 140%;
    margin-top: 20%;   
    }
    .recipe__ingredients--list{
        line-height: 150%;
    }
    .recipe__picture{
        width:80%;
        margin-left: 5%;
    }
}
@media screen and (min-width:480px) and (max-width:600px){
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 85%;
        line-height: 30px;
    }
    .header__logo{
        width:20%;
        justify-self: center;
        padding-top: 3%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    .header__menu{
        display: flex;
        width: 95%;
        justify-content: space-evenly;
    }
    nav ul li{
        margin-left: 0%;
    } 
    ul ul li{
        font-size: 60%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 6%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
   h2{
    font-size: 150%;
    margin-top: 20%;   
    }
    .receta__intro{
    /* border: red solid 2px; */
    grid-area: receta__intro;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    }
    .recipe__picture--display{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .recipe__ingredients{
        margin-top: 7%;
        margin-left: 13%;
        line-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe__ingredients--list{
        line-height: 170%;
        font-size: 90%;
    }
    .recipe__picture{
        width:70%;
        margin-left: 0%;
    }
    .nav__hide{
        display: none;
    }
    ol{
        font-size: 90%;
    }
    h3{
        font-size: 110%;
    }
    h4{
        line-height: 40px;
        font-size: 100%;
    }
}
@media screen and (min-width:320px) and (max-width:480px){
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 75%;
        line-height: 35px;
    }
    .header__logo{
        width:25%;
        justify-self: center;
        padding-top: 5%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    .header__menu{
        display: flex;
        width: 95%;
        justify-content:space-around;
    }
    nav ul li{
        margin-left: 0%;
    }
    ul ul li{
        font-size: 50%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 6%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
   h2{
    font-size: 120%;
    margin-top: 30%;   
    }
    .receta__intro{
   /*  border: red solid 2px; */
    grid-area: receta__intro;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    }
    .recipe__picture--display{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe__ingredients{
        margin-top: 7%;
        margin-left: 16%;
        line-height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe__ingredients--list{
        line-height: 100%;
        font-size: 80%;
    }
    .recipe__picture{
        width:70%;
        margin-left: 0%;
    }
    .nav__hide{
        display: none;
    }
    ol{
        font-size: 85%;
        padding-left: 2%;
        padding-right: 2%;
    }
    h3{
        font-size: 100%;
    }
    h4{
        line-height: 40px;
        font-size: 90%;
    }
}
@media screen and (max-width:320px){
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        font-size: 75%;
        line-height: 35px;
    }
    .header__logo{
        width:25%;
        justify-self: center;
        padding-top: 5%;
    }
    nav{
        margin-left: 0%;
        justify-self: center;
        padding-left: 0%;
    }
    .header__menu{
        display: flex;
        width: 95%;
        justify-content:space-around;
    }
    nav ul li{
        margin-left: 0%;
    }
    ul ul li{
        font-size: 50%;
    }
    h5{
        font-size: 80%;
    } 
    .footer{
        margin-top: 6%;
    }
    .footer__flecha{
        width: 20%;
        justify-self: center;
    }
    .footer__flecha--imagen{
        width:100%
    }
    .footer__media{
        width:100%;
        margin-left:30%;
    }
    .footer__media--imagen1{
        width:15%;
    } 
    .footer__media--imagen{
        width:15%;
    } 
   h2{
    font-size: 120%;
    margin-top: 30%;   
    }
    .receta__intro{
    /* border: red solid 2px; */
    grid-area: receta__intro;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    }
    .recipe__picture--display{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe__ingredients{
        margin-top: 7%;
        margin-left: 16%;
        line-height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe__ingredients--list{
        line-height: 100%;
        font-size: 80%;
    }
    .recipe__picture{
        width:70%;
        margin-left: 0%;
    }
    .nav__hide{
        display: none;
    }
    ol{
        font-size: 85%;
        padding-left: 2%;
        padding-right: 2%;
    }
    h3{
        font-size: 100%;
    }
    h4{
        line-height: 40px;
        font-size: 90%;
    }
}