*{
    margin: 0;
    padding: 0;
}
nav ul{
    font-family: "lexend";
    background-color:rgb(225, 206, 178);
    color:rgb(121, 66, 69);
    font-weight:bolder;
    line-height: 50px;
    font-size: 110%;
    z-index: 3;
}
nav ul a{
    color:rgb(121, 66, 69);
}
#color{
    color:rgb(121, 66, 69);
}
li{
    position: relative;
}
ul li a{
    text-decoration: none;
    color: rgb(121, 66, 69);
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
    background-color:rgb(221, 183, 149);
    color: rgb(121, 66, 69);
    font-size: 90%;
    width: 170%;
    padding: 10% 10% 10% 10%;
    margin-left: -20%;
    z-index: 4;
    transition: background-color 0.25s;
}
ul .header__recetas li{
    display: block;
    background-color:rgb(221, 183, 149);
    color: rgb(121, 66, 69);
    font-size: 100%;
    width: 200%;
    padding: 10% 10% 10% 10%;
    margin-left: -20%;
    z-index: 4;
    transition: background-color 0.25s;
}
ul li:hover ul{
    display: block;
}
ul ul li:hover{
    background-color: rgb(180, 154, 127);
}
a{
    color: rgb(121, 66, 69);
}
.border{
    padding-top: 13%;
}
.description{
    display: none;
}
p{
    text-align: justify;
    color:dimgray;
    font-family: "lexend";
}
h5{
    color:rgb(221, 183, 149);
    font-family: "lexend";
    font-weight:bold;
    background-color: rgb(121, 66, 69);
    line-height: 40px;
}
#color2{
    color:rgb(221, 183, 149); 
}
.gradient{
    background-image: linear-gradient(to bottom, white, rgb(225, 206, 178));
}
h2{
    font-weight: bolder; 
    color:rgb(121, 66, 69);
    font-family: "lexend";
}
h3{
    font-weight: bolder; 
    color:rgb(121, 66, 69);
    font-family: "lexend";
}
.fondo{
    background-color:rgb(225, 206, 178);
}
.foto__fini{
    border-radius: 250px;
    width: 60%;
}
.contacto__datos--whatsapp{
    list-style-image: url("../Images/wapp-lista.png");
}
.contacto__datos--mail{
    list-style-image: url("../Images/mail-lista.png");
}
.contacto__datos--pickup{
    list-style-image: url("../Images/pin-lista.png");
}
.contacto__datos--auto{
    list-style-image: url("../Images/car-lista.png");
}
.contacto__datos--pago
{
    list-style-image: url("../Images/card-lista.png");
}
.contacto__datos{
    font-weight: bold; 
    color:dimgray;
    font-family: "lexend";
    line-height: 250%;
}
.contacto__map{
    border: solid 3px rgb(121, 66, 69);
    width: 90%;
}
.contacto__form{
    width: 100%;
    border: solid dimgray 1px;
    border-radius: 5px;
}
label{
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-weight: bold;
}
.button{
    font-family: "lexend";
    color: dimgray;
    font-weight: bold;
    background-color:rgb(225, 206, 178);
    border: solid 2px rgb(225, 206, 178);
    border-radius: 4px;
    margin-left: 72%;
}
h5{
    background-color: rgba(121, 66, 69,0.8);
    color:rgb(221, 183, 149);
    font-family: "lexend";
    font-weight: bold;
}
h5 a{
    text-decoration: none;
    color:rgb(221, 183, 149);
}
h6{
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 130%;
}
h7{
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 90%;
}
.space{
    padding-top: 0%;
    color: rgb(225, 206, 178);;
    background-color:rgb(225, 206, 178);
}
.space2{
    padding-top: 0%;
    color: white;
}
footer{
    background-color: rgb(221, 183, 149);
}
@media screen and (max-width:767px){
    .description{
        margin-top: 3%;
        margin-bottom: 2%;
        display: flex;
        background-color: rgb(121, 66, 69);
        color:rgb(221, 183, 149);
        font-family: "lexend";
    }
    .border{
        padding-top: 55%;
    }
    .captions{
        display: none;
    }
    .space{
        padding-top: 11%;
    }
    .space2{
        padding-top: 11%;
        padding-bottom: 0;
    }
}
@media screen and (min-width:481px) and (max-width:769px){

    .space{
        padding-top: 11%;
    }
    .space2{
        padding-top: 11%;
        padding-bottom: 0;
    }
}
@media screen and (max-width:769px){
    .space{
        padding-top: 10%;
    }
    .space2{
        padding-top: 10%;
        padding-bottom: 0;
    }
}
@media screen and (min-width:767px) and (max-width:1024px) {
    .contacto__datos{
        font-size: 90%;
    }
}
@media screen and (max-width:991px){
    .chau{
        display: none;
    }
}




